.titulo{
    max-width: 1100px;
    text-align: center;
    margin: 60px auto;
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
}
.titulo:after{
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}


